
}
div.main{
   width:auto;
   height:auto;
   margin-left:50px;
   margin-right:50px;
}

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
	height:auto;
	padding:10px;
	background:#3399FF;
	color:white;
	border:solid 1px white;
	transition-duration:0.4s;
	border-radius:6px;
}
input[type=submit]:hover {
 border:solid 1px #3399FF;
	background:white;
	color:#3399FF;
}